@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #B31312;
    --cor-terciaria: #ffffff;
    --cor-quarternaria:#ff0000;

    --fonte-principal:'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat';
    --fonte-cabecalho: 'Montserrat', sans-serif;
    --fonte-rodape: 'lato', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
}
.cabecalho {
    background-color: var(--cor-quarternaria);
    top: 0;
    width: 100%;
    padding: 3% 0.5%;
}
.nav_bar {
    display: flex;
    flex-direction: column;
}
.nav_list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
.nav-link {
    text-decoration: none;
}
.fa-house {
    display: flex;
}
.fa-user {
    display: flex;
}
.fa-computer {
    display: flex;
}
.fa-briefcase {
    display: flex;
}
.titulo_cabecalho {
    padding: 0px 7px;
    font-family: var(--fonte-secundaria);
    font-size: 1.1rem;
    font-weight: 550;
    color: var(--cor-terciaria);
}
.menu_mobile_icon {
    display: none;
}
.menu_mobile {
    display: none;
}
.apresentacao{
    display: flex;
    flex-direction: column;
    padding: 15% 5%;
    gap: 50px;
}
.apresentacao__conteudo{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-weight: 400;
    font-family: var(--fonte-principal);
    line-height: 55px;
    color: var(--cor-quarternaria);
}
.titulo-destaque{
    font-size: 2.25rem;
    font-weight: 400;
    font-family: var(--fonte-principal);
    color: var(--cor-terciaria);
}
.apresentacao__conteudo__texto{
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    line-height: 130%;
}
.alura__vetores {
    display: flex;
    gap: 30px;
}
.vetores{
    width: 30%;
}
.rodape {
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    font-size: 1rem;
    font-weight: 300;

    background-color: var(--cor-quarternaria);
    width: 100%;
    padding: 1% 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
@media (max-width:700px ) {
    .cabecalho {
        padding: 0;
    }
    .nav-item {
        display: none;
    }
    .menu_mobile_icon {
        display: flex;
        justify-content: end;
        padding: 1rem 0.7rem 0.5rem 0rem;
    }
    .menu_mobile_icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .menu_mobile .nav-item {
        display: flex;
    }
    .menu_mobile {
        background-color: var(--cor-secundaria);
    }
    .menu_mobile ul {
        display: flex;
        flex-direction: column;
    }
    .menu_mobile .nav-link {
        display: flex;
        justify-content: center;
        width: 100%;
        text-transform: uppercase;
        font-family: var(--fonte-secundaria);
        font-weight: 550;
        padding: 1rem 0;
        border: 1px solid rgba(0, 0, 0,0.35);
        border-left: 0px solid transparent;
        border-top: 0px solid transparent;
        border-right: 0px solid transparent;
        color: var(--cor-terciaria);
    }
    .aberto {
        display: block;
    }
    .apresentacao {
        flex-direction: column;
        gap: 40px;
    }
    .apresentacao__conteudo {
        width: auto;
    }
    .apresentacao__conteudo__titulo {
        font-size: 2rem;
        text-align: center;
    }
    .titulo-destaque {
        font-size: 2rem;
        text-align: center;
    }.apresentacao__conteudo__texto {
        font-size: 1.3rem;
        text-align: center;
    }
    .alura__vetores {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .vetores{
        width: 50%;
    }
    .rodape {
        display: flex;
        flex-direction: column;
        padding: 1.1rem 0.5rem;
        gap: 10px;
    }
}
