@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #B31312;
    --cor-terciaria: #ffffff;
    --cor-quarternaria:rgba(255, 0, 0,0.7);;

    --fonte-principal:'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat';
    --fonte-cabecalho: 'Montserrat', sans-serif;
    --fonte-rodape: 'lato', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
}
.cabecalho {
    background-color: var(--cor-quarternaria);
    padding: 2rem 0rem;
}
.nav_bar {
    display: flex;
    flex-direction: column;
}
.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nav_list ul {
    display: flex;
    list-style: none;
}
.nav-item {
    margin: 0 15px;
}
.nav-link {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 1.15rem;
    font-weight: 550;
    color: var(--cor-terciaria);
}
.menu_mobile_icon {
    display: none;
}
.menu_mobile {
    display: none;
}

.apresentacao{
    display: flex;
    flex-direction: column;
    padding: 15% 5%;
    gap: 50px;
}
.apresentacao__conteudo{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-weight: 400;
    font-family: var(--fonte-principal);
    line-height: 55px;
    color: var(--cor-quarternaria);
}
.titulo-destaque{
    font-size: 2.25rem;
    font-weight: 400;
    font-family: var(--fonte-principal);
    color: var(--cor-terciaria);
}
.apresentacao__conteudo__texto{
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    line-height: 130%;
}
.aluralogo {
    width: 10%;
}
.alura__vetores {
    display: flex;
    gap: 30px;
}
.vetores{
    width: 30%;
}
.rodape {
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    font-weight: 300;

    background-color: var(--cor-quarternaria);
    padding: 1rem 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5.5rem;
}
@media (max-width:595px ) {
    .cabecalho {
        background-color: var(--cor-quarternaria);
        padding: 1rem 0rem;
    }
    .nav-item {
        display: none;
    }
    .menu_mobile_icon {
        display: flex;
        justify-content: end;
        padding: 0rem 1rem 0rem 0;
    }
    .menu_mobile_icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .menu_mobile ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .menu_mobile .nav-item {
        display: flex;
        margin: 0.5rem 0rem;
        justify-content: center;
    }
    .menu_mobile .nav-link {
        display: block;
        font-family: var(--fonte-secundaria);
        font-weight: 550;
        padding: 1rem 0rem;
        justify-content: center;
        width: 100%;
        border: 1.5px solid var(--cor-primaria);
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        color: var(--cor-terciaria);
    }
    .aberto {
        display: block;
    }
    .apresentacao {
        padding: 10% 10%;
        gap: 50px;
    }
    .apresentacao__conteudo {
        width: auto;
    }
    .apresentacao__conteudo__titulo {
        font-size: 1.85rem;
        text-align: center;
    }
    .titulo-destaque {
        font-size: 1.85rem;
    }

    .apresentacao__conteudo__texto {
        font-size: 1rem;
        text-align: center;
    }
    .alura__vetores {
        flex-direction: column;
        align-items: center;
    }
    .vetores {
        width: 80%;
    }
    .rodape {
        padding: 3% 1%;
        font-size: 1rem;
        gap: 20px;
    }
}
@media (max-width:350px ) {
    .apresentacao {
        padding: 10% 5%;
        gap: 25px;
    }
    .apresentacao__conteudo {
        width: auto;
        gap: 1px;
    }
    .apresentacao__conteudo__titulo {
        font-size: 1rem;
    }
    .titulo-destaque {
        font-size: 1rem;
    }
    .apresentacao__conteudo__texto {
        font-size: 0.8rem;
        text-align: center;
    }
    .aluralogo {
        width: 25%;
    }
    .rodape {
        padding: 5% 0%;
        flex-direction: column;
        font-size: 0.74rem;
        text-align: center;
        gap: 1px;
    }
}